<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">ShyimWebP</label>
    <label lang="en">ShyimWebP</label>
    <version>0.1.0</version>
    <copyright>Shyim</copyright>
    <license>MIT</license>
    <link>https://github.com/shyim/ShyimWebP</link>
    <author>Shyim</author>
</plugin>