<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Webp Unterstützung</label>
    <label lang="en">Webp Support</label>
    <version>1.1.4</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://friendsofshopware.github.io/</link>
    <author>Friends of Shopware</author>
    <compatibility minVersion="5.6.0"/>

    <description lang="en">Fügt mit einem HTML5 Picture Tag zusätzlich in der Storefront Webp Bilder hinzu. Webp ist ein neueres Bild-Format welches kleinere Bilder im Vergleich zu JPEG/PNG erstellt.</description>
    <description lang="de">Adds with a HTML5 Picture Tag additionally in the Storefront Webp pictures. Webp is a newer image format which creates smaller images compared to JPEG/PNG.</description>

    <changelog version="1.0.0">
        <changes lang="en">First Release</changes>
        <changes lang="de">Erster Release</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="en">Initial Release in Community Store</changes>
        <changes lang="de">Erster Release im Community Store</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="en">
            - Improved Error Handling of Google Binary Encoder
            - Added static compiled Google Binary
            - Added new Command frosh:webp:status to show webp availability
            - Fix Banner webp implementation
            - Fix uploading non images to Media Manager
            - Added webp to lightbox and prev and next product
        </changes>
        <changes lang="de">
            - Fehlerausgabe vom Google Binary Encoder verbessert
            - Statisch kompilierte Google Binary hinzugefügt
            - Neuer Command frosh:webp:status zum Überprüfen von Webp Verfügbarkeit
            - Banner Einbindung behoben
            - Hochladen von nicht Bildern behoben
            - Detail-Seite: Lightbox und Vor und Zurück benutzt nun WebP
        </changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="en">
            - Fixed Google Binary Usage
            - Added new support tab to Systeminfo
        </changes>
        <changes lang="de">
            - Benutzung von Google Binary verbessert
            - Systeminfo ein Support Tab hinzugefügt
        </changes>
    </changelog>

    <changelog version="1.0.4">
        <changes lang="en">
            - Please make sure that all images are generated in webp using ./bin/console frosh:webp:generate
            - Shop logos in WebP
            - Update Modernizr
            - Optimized Javascript Code, Thanks to @KaiSoellch
        </changes>
        <changes lang="de">
            - Vor dem Updaten sollte sichergestellt sein dass (./bin/console frosh:webp:generate) ausgeführt wurde
            - Shop Logos sind nun in WebP
            - Modernizr wurde aktualisiert
            - Javascript Code optimiert, Danke an @KaiSoellch
        </changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="en">
            Shopware 5.6 Compability
        </changes>
        <changes lang="de">
            Shopware 5.6 Kompatiblität
        </changes>
    </changelog>

    <changelog version="1.1.1">
        <changes lang="en">
            - Clear cache after Config change
            - Clear cache after plugin activate, deactivate
            - WebP Image will be re-generated after replacing image
            - Load webp image while zooming into image
            - Added support for category teaser, thanks to @DeverNet
            - Ignore SVG Images
        </changes>
        <changes lang="de">
            - Cache nach Config-Änderung löschen
            - Cache nach Plugin-Aktivierung löschen, deaktivieren
            - WebP-Bild wird nach dem Ersetzen des Bildes neu generiert
            - Webp-Bild laden, während in das Bild gezoomt wird
            - Unterstützung für Kategorie-Teaser hinzugefügt, dank @DeverNet
            - SVG-Bilder ignorieren
        </changes>
    </changelog>

    <changelog version="1.1.2">
        <changes lang="en">
            - Add lazy loading to img tags
            - Support for image elements in Digital Publishing plugin
            - Retina fixes for article boxes in shopping worlds
        </changes>
        <changes lang="de">
            - Lazy loading zu den img Tags hinzugefügt
            - Unterstützung für Bild-Elemente im Digital Publishing Plugin
            - Retina Korrekturen bei Artikelbilder in Einkaufswelten
        </changes>
    </changelog>

    <changelog version="1.1.3">
        <changes lang="en">
            - Removed lazy loading in emotion components due loading issues
        </changes>
        <changes lang="de">
            - Lazy loading in Einkaufswelten Elementen entfernt
        </changes>
    </changelog>

    <changelog version="1.1.4">
        <changes lang="en">
            - Shopware 5.7 Support
        </changes>
        <changes lang="de">
            - Shopware 5.7 Support
        </changes>
    </changelog>
</plugin>
