<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Webp Unterstützung</label>
    <label lang="en">Webp Support</label>
    <version>1.0.2</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://friendsofshopware.github.io/</link>
    <author>Friends of Shopware</author>
    <compatibility minVersion="5.4.0"/>

    <description lang="en">Webp Support for Shopware</description>
    <description lang="de">Webp Support für Shopware</description>

    <changelog version="1.0.0">
        <changes lang="en">First Release</changes>
        <changes lang="de">Erster Release</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="en">Initial Release in Community Store</changes>
        <changes lang="de">Erster Release im Community Store</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="en">
            - Improved Error Handling of Google Binary Encoder
            - Added static compiled Google Binary
            - Added new Command frosh:webp:status to show webp availability
            - Fix Banner webp implementation
            - Fix uploading non images to Media Manager
            - Added webp to lightbox and prev and next product
        </changes>
        <changes lang="de">
            - Fehlerausgabe vom Google Binary Encoder verbessert
            - Statisch kompilierte Google Binary hinzugefügt
            - Neuer Command frosh:webp:status zum Überprüfen von Webp Verfügbarkeit
            - Banner Einbindung behoben
            - Hochladen von nicht Bildern behoben
            - Detail-Seite: Lightbox und Vor und Zurück benutzt nun WebP
        </changes>
    </changelog>
</plugin>