<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.4/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="boolean">
            <name>enableWebPInFrontend</name>
            <label lang="de">WebP in Frontend anzeigen</label>
            <label lang="en">Enable WebP in Frontend</label>
            <value>false</value>
        </element>
        <element type="number">
            <name>webPQuality</name>
            <label lang="de">WebP Quality</label>
            <label lang="en">WebP Quality</label>
            <value>80</value>
        </element>
    </elements>
</config>