<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.4/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="boolean">
            <name>enableWebPInFrontend</name>
            <label lang="de">WebP in Frontend anzeigen</label>
            <label lang="en">Show WebP in frontend</label>
            <value>false</value>
            <description lang="de">Diese Option erweitert die Templates. Media &amp; Templatevariablen werden auch ohne diese Option erweitert.</description>
            <description lang="en">This extends the templates for the frontend. Media and template variables will be extended without this option.</description>
        </element>

        <element type="boolean">
            <name>enableWebPJavascriptInFrontend</name>
            <label lang="de">WebP JavaScript in Storefront laden</label>
            <label lang="en">Load WebP Javascript in storefront</label>
            <value>true</value>
            <description lang="de">Diese Option erweitert das Javascript. Media &amp; Templatevariablen werden auch ohne diese Option erweitert. Nachdem die Konfiguration geändert wurde, muss das Theme neu kompiliert werden.</description>
            <description lang="en">This extends the javascript for the frontend. Media and template variables will be extended without this option. After changing this configuration the theme has to be recompiled to apply the changes.</description>
        </element>

        <element type="number">
            <name>webPQuality</name>
            <label lang="de">WebP Quality</label>
            <label lang="en">WebP quality</label>
            <value>80</value>
        </element>
    </elements>
</config>
